! Dracula Xresources palette
!
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! Dwm xrdb patch colors
dwm.normbordercolor: color0
dwm.normbgcolor: color9
dwm.normfgcolor: color7
dwm.selbordercolor: color4
dwm.selbgcolor: color9
dwm.selfgcolor: color15

! Black color that will not be affected by bold highlighting.
*.color66: #2E3440
*color66:  #2E3440

! Xclock colors.
XClock*foreground: #E5E9F0
XClock*background: #2E3440
XClock*majorColor:  rgba:8f/bc/bb/ff
XClock*minorColor:  rgba:8f/bc/bb/ff
XClock*hourColor:   rgba:8f/bc/bb/ff
XClock*minuteColor: rgba:8f/bc/bb/ff
XClock*secondColor: rgba:8f/bc/bb/ff

! Set depth to make transparency work.
URxvt*depth: 32
URxvt.font: xft:SourceCodePro:pixelsize=16
URxvt.scrollBar: false
URxvt.internalBorder:  15
